<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I'm Jonathan Vargas</h1>
        <p>Junior Data Analyst at Zillow Group</p>
      </header>
      <p> Welcome! I created this site with the intention of being both a professional portfolio and a creative outlet of mine. So aside from
        this being a prettier regurtitated version of my LinkedIn, I plan to update this regularly to discuss and reflect things I'm working on,
        career goals, refine my web/bogging skills, discuss topics of interests, and just for fun as a side hobby. If you'd like to learn a little
        more about me click here, or you can contact me down below and I'll get back to you... thanks for reading! 
      </p>
      <ul class="actions">
        <li><a href="about_me.html" class="button big">About Me</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
